*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.container-topo{
    text-align: center;
}
.paragrafo-topo{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.btn{
    width: 180px;
    height: 40px;
    border: 1px solid rgba(31, 134, 225, 0.328) ;
    margin-bottom: 15px;
    background-color: rgba(31, 134, 225, 0.328);
    color: white;
    border: none;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.links{
    width: 500px;
    height: 50px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.21);
    margin-bottom: 12px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
}
.links:hover{
    background-color: rgba(255, 255, 255, 0.294);
}
.rede-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials{
    width: 25px;
    height: 25px;
    margin-left: 25px;
    margin-top: 30px;
    
}
.socials:hover{
    background-color: white;
    border-radius: 50%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-top: 20px;
}
.dark-theme{
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
@media screen and (max-width:480px){
    .light-theme{
        width: 100%;
        height: 100vh;
    }
    body{
        width: 100%;
        height: 100vh;
    }
    .btn{
        font-size: 15px;
    }
    .container-topo{
        margin-top: 10px;
    }
    .paragrafo-topo{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .links{
        width: 300px;
    }
    .socials{
        margin-top: 10px;
        color: yellowgreen;
    }
}
@media screen and (min-width:480.1px) and (max-width:768px){
    img{
        width: 200px;
        height: 200px;
    }
    
    .paragrafo-topo{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .links{
        width: 600px;
        height: 60px;
        font-size: 20px;
    }
    .footer{
        font-size: 20px;
    }
}
@media screen and (min-width:768.1px) and (max-width:1024px){
    .light-theme{
        width: 100%;
        height: 100vh;
    }
    body{
        width: 100%;
        height: 100vh;
    }
    .btn{
        font-size: 15px;
    }
    .container-topo{
        margin-top: 30px;
    }
    .paragrafo-topo{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .links{
        width: 300px;
    }
    .socials{
        margin-top: 10px;
        color: yellowgreen;
    }
    .footer{
        margin-bottom: 30px;
        font-size: 20px;
    }
}
